[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
djangocms-cascade = "*"
django-compressor = "*"
django-sass-processor = "*"
django-filter = "*"
django-haystack = "*"
drf-haystack = "*"
{% if cookiecutter.use_i18n == 'y' -%}
django-parler = "*"
{% endif -%}
{% if cookiecutter.use_docker == 'y' -%}
psycopg2-binary = "*"
django-redis-cache = "*"
django-redis-sessions = "*"
uWSGI = "*"
{% endif -%}
djangorestframework = "<3.8"
django_polymorphic = "<2"
"django-admin-sortable2" = "*"
"djangocms-bootstrap" = "*"
elasticsearch = "<1.8"
libsass = "*"
djangoshop-stripe = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
