[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
django-cms = "<3.6"
djangocms-cascade = "*"
django-shop = "*"
"djangocms-bootstrap3" = "*"
django_compressor = "*"
django-sass-processor = "*"
django-filter = "*"
django-haystack = "*"
drf-haystack = "*"
djangoshop-stripe = "*"
stripe = "<1.54"
django-parler = "*"
djangorestframework = "<4"
django-polymorphic = "<2"
"django-admin-sortable2" = "==0.6.19"

[dev-packages]

[requires]
python_version = "3.6"
