[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
djangocms-cascade = "*"
django-compressor = "*"
django-sass-processor = "*"
django-filter = "*"
django-haystack = "*"
drf-haystack = "*"
{% if cookiecutter.use_i18n -%}django-parler = "*"{%- endif %}
djangorestframework = "<4"
django_polymorphic = "<2"
"django-admin-sortable2" = "*"
django-cms = {git = "https://github.com/jrief/django-cms.git", ref = "fixes/load-fixture", editable = true}
"djangocms-bootstrap3" = "*"
elasticsearch = "<1.8"
libsass = "*"
django-shop = {git = "https://github.com/awesto/django-shop.git", ref = "drafts/cms-3.5", editable = true}
djangoshop-stripe = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
