{% raw %}{% extends "bootstrap4/includes/ng-nav-navbar.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags sass_tags shop_tags %}
{% spaceless %}

{% page_url 'shop-watch-list' as shop_watch_list_url %}{% if not shop_watch_list_url %}{% url "shop-watch-list" as shop_watch_list_url %}{% endif %}

{% block navbar %}
<div class="container">
	<h1>
		<a href="/">
			<img src="{% static 'shop/django-shop-logo.svg' %}" class="mt-1" alt="django-SHOP" height="45" aria-hidden="true">
		</a>
	</h1>
	{% block navbar-toggler %}{{ block.super }}{% endblock %}

	<div class="collapse navbar-collapse ml-lg-2 ml-0" uib-collapse="isNavCollapsed">
		<ul class="navbar-nav flex-wrap">
			<li class="nav-item mr-auto shop-social-icons">
				<a class="nav-link" href="tel:+12345678900"><i class="fa fa-phone"></i></a>
				<a class="nav-link" href="mailto:info@example.com"><i class="fa fa-envelope-o"></i></a>
				<a class="nav-link" href="https://www.awesto.com/"><i class="fa fa-link"></i></a>
				<a class="nav-link" href="https://www.linkedin.com/in/jacob-rief-27884016a/"><i class="fa fa-linkedin"></i></a>
				<a class="nav-link" href="https://twitter.com/djangoshop"><i class="fa fa-twitter"></i></a>
				<a class="nav-link" href="https://github.com/awesto/django-shop/"><i class="fa fa-github"></i></a>
				<a class="nav-link" href="https://django-shop.readthedocs.io/"><i class="fa fa-book"></i></a>
			</li>
			{% include "shop/navbar/login-logout.html" with item_class="shop-secondary-menu" %}
			{% with item_class="shop-secondary-menu" %}{% language_chooser "shop/navbar/language-chooser.html" %}{% endwith %}
			{% include "shop/navbar/watch-icon.html" with item_class="shop-secondary-menu" %}
			{% with item_class="shop-secondary-menu" %}
				{% if current_page.reverse_id == 'shop-cart' or current_page.reverse_id == 'shop-watch-list' %}
					{% cart_icon without %}
				{% else %}
					{% cart_icon unsorted %}
				{% endif %}
			{% endwith %}
			<li class="w-100"></li>
			{% with item_class="nav-item shop-primary-menu" %}{% block navbar-nav %}{{ block.super }}{% endblock %}{% endwith %}
			<li class="nav-item shop-search-form">{% include "shop/navbar/search-form.html" with search_form_classes="form-inline" %}</li>
		</ul>
	</div>
</div>

	{% addtoblock "js" %}<script src="{% static 'node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls.js' %}"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "ui.bootstrap" %}

	{% addtoblock "js" %}<script src="{% static {% endraw %}'{{ cookiecutter.app_name }}/js/navbar.js'{% raw %} %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "django.shop.navbar" %}

{% endblock navbar %}

{% endspaceless %}{% endraw %}
