@import "variables";
@import "shop/css/navbar";

body {
	padding-top: 90px;
	.navbar {
		h1 {
			line-height: 66.6px;
		}
		.shop-social-icons {
			.nav-link {
				display: inline-block;
			}
			@include media-breakpoint-down(md) {
				order: 4;
				.nav-link {
					margin-left: 0.25rem;
					margin-right: 0.5rem;
				}
			}
		}
		.shop-primary-menu {
			@include media-breakpoint-down(md) {
				order: 1;
			}
			@include media-breakpoint-up(lg) {
				font-size: 150%;
				font-weight: 300;
			}
		}
		.shop-secondary-menu {
			@include media-breakpoint-down(md) {
				order: 2;
			}
		}
		.shop-search-form {
			@include media-breakpoint-down(md) {
				order: 3;
			}
			@include media-breakpoint-up(lg) {
				margin-left: auto;
			}
		}
	}
}
