@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "shop/css/variables";

// footer
$body-footer-height: 200px;
$body-footer-color: $white;
$body-footer-bg: $gray-900;
$body-footer-border: $gray-900;
$body-footer-link-color: darken($body-footer-color, 15%);
$body-footer-link-hover-color: $body-footer-color;
$body-footer-link-active-color: $body-footer-color;

$navbar-default-border: #000000;
$navbar-default-bg: #f8f8f8;
$grid-float-breakpoint: 1000px;

// drop "Apple Color Emoji" from Bootstrap's native font stack, otherwise the OK and times icon are rendered in black.
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
