@import "shop/css/variables";

// footer
$body-footer-height: 200px;
$body-footer-color: #ffffff;
$body-footer-bg: #000000;

$body-footer-border: #000000;
$body-footer-link-color: #000000;
$body-footer-link-hover-color: #000000;
$body-footer-link-hover-bg: #000000;
$body-footer-link-active-color: #000000;
$body-footer-link-active-bg: #000000;
$body-footer-link-disabled-color: #000000;
$body-footer-link-disabled-bg: #000000;

$navbar-default-border: #000000;
$navbar-default-bg: #f8f8f8;
$grid-float-breakpoint: 1000px;

// drop "Apple Color Emoji" from Bootstrap's native font stack, otherwise the OK and times icon are rendered in black.
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
